<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://dl.dropbox.com/u/80197158/cg_static/css/main.css" type='text/css' />
  <title>CashGround</title>
</head>
<body>
  <div id="top">
    <div id="title">
      CashGround
    </div>
    <div id="subtitle">
      Take advertising into your own hands
    </div>
  </div>
  <div id="bottom">
    <div id="left_text">
      Earn cash and rewards
    </div>
    <div id="right_text">
      View promotions you're interested in, when you want
    </div>
    <div id="appstore_icons">
      <img src="https://dl.dropbox.com/u/80197158/cg_static/images/app_store.png"
           alt="iPhone" width="200" height="70" id="app_store">
      <img src="https://dl.dropbox.com/u/80197158/cg_static/images/play_store.png"
           alt="Android" width="200" height="70" id="play_store">
    </div>
  </div>
</body>
</html>
