<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://dl.dropbox.com/u/80197158/cg_static/css/admin.css" type='text/css' />
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
  <script type='text/javascript' src='https://dl.dropbox.com/s/3db4s4pnu9c88bq/admin.js'></script>
  <title>CashGround Admin</title>
  <script type="text/javascript"> 
   var ad_types = {{ad_types|safe}}
</script>
</head>
<body>
<div class="content">
<h1>Active ads</h1>
<table id="ads">
<tr class="table_title"><th>Icon</th><th>Company</th><th>Title</th><th>Blurb</th><th>Value(cents)</th>
  <th>Type</th><th>Uri</th><th>Image</th><th>Quiz</th><th>Published</th><th></th></tr>
</table>
<button id="add_ad">Add ad</button>
<button id="ads_save">Save</button>
<button id="ads_reset">Undo Changes</button>
<br /><br /><br />
<h1>Users</h1>
<table id="users">
  <tr class="table_title"><th>Name</th><th>Cash</th><th>Ads Viewed</th><th>Date Joined</th><th></th></tr>
</table>
<button id="add_user">Add user</button>
<button id="user_save">Save</button>
<button id="user_reset">Undo Changes</button>
<br /><br /><br />
<h1>Consumables</h1>
<table id="consumables">
  <tr class="table_title"><th>Icon</th><th>Title</th><th>Cost</th><th>Type</th><th>Date Created</th><th></th></tr>
</table>
<button id="add_consumable">Add consumable</button>
<button id="consumable_save">Save</button>
<button id="consumable_reset">Undo Changes</button>
</div>
<br />
</body>
