<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://dl.dropbox.com/u/80197158/cg_static/css/admin.css" type='text/css' />
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
  <script type='text/javascript' src='https://dl.dropbox.com/u/80197158/cg_static/js/admin.js'></script>
  <title>CashGround Admin</title>
  <script type="text/javascript"> 
   var ad_types = {{ad_types|safe}}
</script>
</head>
<body>
<div class="content">
<h1>Active ads</h1>
<table id="ads">
<tr class="table_title"><th>Icon</th><th>Title</th><th>Value(cents)</th>
  <th>Type</th><th>Uri</th><th>Image</th><th>Quiz</th><th>Published</th><th></th></tr>
{% for ad in ads %}
<tr id="{{ad.id}}">
  <td class="icon"><img src="{{ ad.icon }}" /></td>
  <td><input type="text" value="{{ ad.title }}" /></td>
  <td><input type="text" value="{{ ad.value }}" /></td>
  <td>
    <SELECT class="ad_type" name="type">
      {% for value, name in ad_types %}
      <OPTION value="{{ value }}" {% if value == ad.type %}selected="selected"{% endif %}>
        {{ name }}</OPTION>
      {% endfor %}
  </SELECT></td>
  <td><input type="text" value="{{ ad.uri }}" /></td>
  <td><input type="text" value="{{ ad.image }}" /></td>
  <td><textarea rows="15" cols="60"></textarea></td>
  <td>{{ ad.timestamp }}</td>
  <td><input type="button" class="delete" value="Delete"/></td>
</tr>
{% endfor %}
</table>
<button id="add_ad">Add ad</button>
<button id="ads_save">Save</button>
<button id="ads_reset">Undo Changes</button>
<br /><br /><br />
<h1>Users</h1>
<table id="users">
  <tr class="table_title"><th>Name</th><th>Cash</th><th>Ads Viewed</th><th>Date Joined</th><th></th></tr>
  {% for user in users %}
  <tr id="{{user.id}}">
    <td><input type="text" value="{{user.name}}" /></td>
    <td>{{user.cash}}</td>
    <td>{{user.ads_viewed}}</td>
    <td>{{user.timestamp}}</td>
    <td><input type="button" class="delete" value="Delete"/></td>
  </tr>
  {% endfor %}
</table>
<button id="add_user">Add user</button>
<button id="user_save">Save</button>
<button id="user_reset">Undo Changes</button>
<br /><br /><br />
<h1>Consumables</h1>
<table id="consumables">
  <tr class="table_title"><th>Icon</th><th>Title</th><th>Cost</th><th>Type</th><th>Date Created</th><th></th></tr>
  {% for cons in consumables %}
  <tr id="{{cons.id}}">
    <td class="icon"><img src="{{cons.iconURI}}" /></td>
    <td><input type="text" value="{{cons.title}}" /></td>
    <td><input type="text" value="{{cons.cost}}" /></td>
    <td>
      <SELECT name="type">
        <OPTION value="Product" {% if "Product" == cons.type %}selected="selected"{% endif %}>Product</OPTION>
        <OPTION value="Coupon" {% if "Coupon" == cons.type %}selected="selected"{% endif %}>Coupon</OPTION>
      </SELECT>
    </td>
    <td>{{cons.timestamp}}</td>
    <td><input type="button" class="delete" value="Delete"/></td>
  </tr>
  {% endfor %}
</table>
<button id="add_consumable">Add consumable</button>
<button id="consumable_save">Save</button>
<button id="consumable_reset">Undo Changes</button>
</div>
<br />
</body>
