<!DOCTYPE html>
<head>
  <link rel="icon" 
	    type="image/png" 
	    href="https://dl.dropbox.com/s/t3oq4u2i6ns45fn/favicon.ico">
  <link rel="stylesheet" href="https://dl.dropbox.com/s/k3wnx3n2u9s4k31/common.css" type='text/css' />
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
  {% block head %}{% endblock %}
</head>
<body>
	{% block precontent %}{% endblock %}
  <div id="content">
	{% block content %}{% endblock %}
  </div>
</body>