<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://dl.dropbox.com/s/4k0hn0yomdct09q/main.css" type='text/css' />
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
  <script type='text/javascript' src='https://dl.dropbox.com/s/i0e7od4tq8dhncx/main.js'></script>
  <script type='text/javascript' src='https://dl.dropbox.com/u/80197158/static/jquery.inputhints.min.js'></script>
  <title>CashGround</title>
</head>
<body>
  <div id="content">
    <div id="top_bar">
      <table id="left_table" class="top_table">
        <tr>
          <td class="title">Cash-Ground</td>
          <td class="table_space"></td>
          <td id="features_button" class="top_bar_button">Features</td>
          <td id="contact_button" class="top_bar_button">Contact Us</td>
        </tr>
      </table>
      <table id="login" class="top_table">
        <tr>
          <td class="top_bar_button">Login</td>
        </tr>
      </table>
    </div>
    <div id="main">
      <div id="coming_soon">Coming Soon!</div>
      <span id="main_text">Browse Ads. Earn Cash. Simple.</span>
      <div id="coming_soon_button">
        <a href="#" class="button button-blue">
          <span id="coming_soon_button_span">Pre-register your username</span>
        </a>
      </div>
      <div id="appstore_icons">
        <img src="https://dl.dropbox.com/u/80197158/cg_static/images/app_store.png"
             alt="iPhone" width="200" height="70" id="app_store">
        <img src="https://dl.dropbox.com/u/80197158/cg_static/images/play_store.png"
             alt="Android" width="200" height="70" id="play_store">
      </div>
    </div>
    <div id="features">
      <h1>Frequently Asked Questions</h1>

	  <h2>What is Cash-Ground?</h2>
	  <p>Cash-Ground is a brand-new app that lets you earn real money by viewing ads
	    in your free time! Who couldn’t use a few more bucks a day, especially when it’s
	    absolutely spam-free and simple to use?</p>
	  <p>Get paid while:<br /></p>
      <span style="text-align: left;"/>
	  <ul>
		<li>Waiting for the microwave</li>
		<li>Avoiding eye contact on public transportation</li>
		<li>Dropping a slow one in the bathroom at work</li>
		<li>Whenever you want! Wherever you want!</li>
	  </ul>
      </span>
	  
	  <h2>How does it work?</h2>
	  <p>It’s simple! Launch Cash-Ground to browse our list of promotions and see
	    what interests you. After completing a simple action such as watching a video or
	    downloading an app, you are instantly credited with anywhere from 10¢ to over a dollar!</p>

	  <h2>Why should I use it</h2>
	  <p>Advertisers spend billions of dollars for the right to your eyeballs every year.
	    Why shouldn’t you get a piece of it?

	    In fact, they want you to use Cash-Ground, and that’s why they pay you! We
	    verify that you actually watched an ad, and encourage you to find products you’re
	    interested in and give them a try! This is how we create value for everyone,
	    especially in the long run.</p>

	  <h2>Where do I sign?</h2>
	  <p>There are zero checks to sign—we deposit directly to your PayPal or bank! But
	    if you mean you want to try our app, the best thing to do now is to <a id="faq_register" href="#faq"> pre-register</a> your username, so that when we do launch very soon your favorite
	    username-ever-since-middle-school doesn’t get taken.</p>
	  <br /><br />
    </div>
  </div>
  <div id="login_menu">
    <form id="login_form" action="/account/" method="post">
      {% csrf_token %}
      <input type="hidden" name="name" value="login" />
      <input id="login_username" placeholder="Username" type="text" name="username" value="" />
      <input id="login_password" placeholder="Password" type="password" name="password" value="" />
      <a id="login_submit" href="#" class="button button-blue">
        <span>Login</span>
      </a>
    </form>
  </div>
  <div class="overlay">
    <div class="overlay_background"></div>
    <div class="overlay_content">
      <h2>User Registration</h2>
      <form id="register_form" action="/account/" method="post">
        <input type="hidden" name="group" value="User" />
        <input type="hidden" name="name" value="register" />
        {% csrf_token %}
        <table id="register_table">
          <tr><td class="input_label">Username: </td><td class="input"><input type="text" name="username" /></td></tr>
          <tr><td class="input_label">Password: </td><td class="input"><input type="password" name="password" /></td></tr>
          <tr><td class="input_label">Confirm: </td><td class="input"><input type="password" name="confirm" /></td></tr>
          <tr><td class="input_label">Email: </td><td class="input"><input type="text" name="email" /></td></tr>
        </table>
        <a id="register_submit" href="#" class="button button-blue">
          <span>Register</span>
        </a>
      </form>
    </div>
  </div>
</div>
</body>
</html>
