{% extends "old_base.html" %}
  
{% block head %}
  <script type='text/javascript' src='https://dl.dropbox.com/s/j3irk6n6ufinvig/signup.js'></script>
  <script type='text/javascript' src='https://dl.dropbox.com/s/2r8zr5hsvwvdzwl/jquery.toastmessage.js'></script>
  <link rel="stylesheet" href="https://dl.dropbox.com/s/z3b8nffm25agxv2/jquery.toastmessage.css" type='text/css' />
  <link rel="stylesheet" href="https://dl.dropbox.com/s/t173otztrfgbele/signup.css" type='text/css' />
  <title>CashEgg Signup Admin</title>
{% endblock %}

{% block content %}
<div id="title">
	<h1>Signup List</h1>
</div>
<div id="signup_admin_refresh_holder">
	<a href="#" class="button button-blue">
      <span id="signup_admin_refresh">Refresh</span>
    </a>
</div>
<br />
<div id="profiles_holder">
{% include "signup_admin_table.html" %}
</div>
{% endblock %}