{% extends "base.html" %}
  
{% block head %}
  <script type='text/javascript' src='https://dl.dropbox.com/s/j3irk6n6ufinvig/signup.js'></script>
  <script type='text/javascript' src='https://dl.dropbox.com/s/2r8zr5hsvwvdzwl/jquery.toastmessage.js'></script>
  <link rel="stylesheet" href="https://dl.dropbox.com/s/z3b8nffm25agxv2/jquery.toastmessage.css" type='text/css' />
  <link rel="stylesheet" href="https://dl.dropbox.com/s/t173otztrfgbele/signup.css" type='text/css' />
  <title>CashEgg Signup</title>
{% endblock %}

{% block content %}
<div id="title">
	<h1>CashEgg Signup</h1>
</div>
<div id="signup">
	<table>
	  <tr><td class="td1">User Name:</td><td class="td2"><input id="username" type="text" name="username" /></td></tr>
	  <tr><td class="td1">Email:</td><td class="td2"><input id="email" type="text" name="email" /></td></tr>
 	</table>
</div>
<div id="signup_submit_holder">
	<a href="#" class="button button-blue">
      <span id="signup_submit">Submit</span>
    </a>
</div>
{% endblock %}
