<!DOCTYPE html>
<head>
  <link rel="icon" 
	    type="image/png" 
	    href="https://dl.dropbox.com/s/t3oq4u2i6ns45fn/favicon.ico">
  <link rel="stylesheet" href="static/css/main.css" type='text/css' />
</head>
<body>
	<div id="top">
		<span id="title">TapMunk</span>
    	<a href="https://twitter.com/TapMunk" target="_blank" ><img src="https://dl.dropbox.com/s/giw2v6v3navu83u/twitter.png"
         	alt="Twitter" id="twitter"></a>
	 </div>
    <div id="main">
		<span id="main_text">
			Under Construction
		</span>
    </div>
	<div id="bottom">
		<span id="copyright">Tapmunk © 2013. All Rights Reserved.</span>
	</div>
</body>